@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@100;200;300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

:root {
    --headerBg-color: rgb(33, 83, 228);
    --text-Color: rgb(93, 175, 253);
    --mainBg-color: #313131;
    --BodyBg-color: #121212;
    --btnBg-color: #2153E4;
    --text-primary: #2153E4;
    --text-secondary: rgb(93, 175, 253);

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 105px;
}

body {
    font-family: 'Open Sans',
        sans-serif;
    background: var(--BodyBg-color);
    line-height: 1.7;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: rgb(98, 155, 207);
}

ul {
    list-style: none;
}

img {
    width: 100%;
}

/* Text size */
.text-xl {
    font-size: 3rem;
    font-weight: 700;
    padding: 20px;
}

.text-lg {
    font-size: 1.6rem;
    font-weight: 600;
    padding: 20px;
    line-height: 1.5;
}


.text-md {
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 1.7;
    padding: 20px;
}

.text-sm {
    font-size: 1rem;
    padding: 20px;
    line-height: 1.5;
}

.text-primary {
    color: var(--text-primary);
}

.text-secondary {
    color: var(--text-secondary);
}


/* Nav */

.main-header {
    z-index: 90;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--headerBg-color);
}

.container {
    width: 85%;
    margin: 0 auto;
}

.main-header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 10px 0;
}

.main-header .logo a img {
    width: 70px;
    margin-left: 50px;
    transition: 0.5s ease-in-out;
}

.logo a:hover img {
    transform: scale(1.3);
}

.main-header nav ul {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.main-header nav ul li {
    padding: 0 20px;
    margin-top: 0;

}

.main-header nav ul li a {
    color: #fff;
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    transition: color 0.3s ease-in;
    position: relative;
}

.main-header nav ul li a::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background: #fff;
    margin-bottom: 2px;

    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;
    transform-origin: middle;
}

.main-header nav ul li a:hover::before,
.main-header nav ul li a:focus::before {
    transform: scaleX(1);
    transform-origin: middle;
}

.main-header nav ul li .active::before {
    background: #ff5100;
    transform: scaleX(1);
}

.main-header nav ul li a:hover {
    color: #000;
}

/* Showcase */

.showcase {
    position: relative;
    top: 0;
    left: 0;
    background: url('../images/tms-building.jpg') no-repeat center center / cover;
    object-fit: contain;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.w-100 {
    width: 1500px;
}

.showcase-content {
    position: absolute;
    text-align: left;
    color: var(--text-Color);
    width: 70%;
}


.showcase-content,
.text-xl,
.showcase-content .text-sm {
    margin-left: -1.58rem;
}

.animation-content {
    transform: translateX(-200%);
    transition: opacity 3s ease,
        transform 2s ease;
}

.animation-content-about-us {
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 3s ease, transform 2s ease;
}

.animation-content-about-us.animate-content-about-us {
    opacity: 1;
    transform: translateY(0);
}

.animation-content.animate-content {
    opacity: 1;
    transform: translateY(0);
}

/* About Pages */

.about_us {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 2rem;
}

.about_us-img {
    width: 50%;

}

.about_us-img img {
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.about_us-img img:hover {
    filter: grayscale(100%);
}

.about_us-content {
    width: 50%;
}

.about_us-content .text-xl {
    color: #ff5100;
    text-align: center;
}

.about_us-content .text-sm {
    font-size: 0.95rem;
    color: #fff;
}

/* Trainings */

.training {
    background: var(--BodyBg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 12rem;
}

.training-container {
    width: 85%;
    margin: 0 auto;
}

.training-header {
    background: var(--mainBg-color);
    color: var(--text-Color);
    width: 100%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
}

.training-header .text-xl {
    text-align: center;
}

.animation-scroll {
    opacity: 0;
    transform: translateY(150px);
    transition: opacity 2s ease-in-out,
        transform 2s ease;
}


.animation-scroll.animate {
    opacity: 1;
    transform: translateY(0px);
}

.training-title {
    text-align: center;
    margin: 20px 0;
}


.training-title .text-md {
    line-height: 1.7;
    font-size: 1.3rem;
    text-align: center;
    padding: 0;
}

.training-title .text-xl {
    padding-top: 5px !important;
}

.training-title .text-lead {
    color: #fff;
    font-size: 1rem;
    padding-bottom: 3rem;
}

.justify-center {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 25px;
    color: #fff;
}

.training-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.training-text {
    margin: 15px;
}

.training-text .text-md {
    padding: 10px;
}

.training-text .text-sm {
    padding: 5px;
}

.animation-left {
    transform: translateX(-300%);
    transition: transform 2s ease-in-out;
}

.animation-left.animate-left {
    transform: translateX(0);
}

.animation-center {
    transform: translateY(100px);
    opacity: 0;
    transition: transform 2s ease-in-out, opacity 2s ease-in-out;
}

.animation-center.animate-center {
    opacity: 1;
    transform: translateY(0);
}

.animation-right {
    transform: translateX(150%);
    transition: transform 2s ease-in-out;
}

.animation-right.animate-right {
    transform: translateX(0);
}

.slide-container1,
.slide-container2,
.slide-container3 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    margin: 0 auto;
}

.slide-container1 .slides1,
.slide-container2 .slides2,
.slide-container3 .slides3 {
    max-width: 100%;
    height: 300px;
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;

}


.slide-container1 .slides1 img,
.slide-container2 .slides2 img,
.slide-container3 .slides3 img {
    max-width: 412px;
    max-height: 420px;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    box-shadow: -2px 1px 4px 0px rgba(255, 255, 255, 0.75);
    -webkit-box-shadow: -2px 1px 4px 0px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: -2px 1px 4px 0px rgba(255, 255, 255, 255.75);
}

.slide-container1 .slides1 img:not(.active),
.slide-container2 .slides2 img:not(.active),
.slide-container3 .slides3 img:not(.active) {
    top: 0;
    left: -100%;
}

span.next1,
span.prev1,
span.next2,
span.prev2,
span.next3,
span.prev3 {
    cursor: pointer;
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    padding: 10px;
    color: var(--btnBg-color);
    font-size: 2.5rem;
    font-weight: 400;
    user-select: none;
    z-index: 1;
    transition: 0.3s;
}

span.next1,
span.next2,
span.next3 {
    right: 10px;
}

span.prev1,
span.prev2,
span.prev3 {
    left: 10px;
}

span.next1:hover,
span.prev1:hover,
span.next2:hover,
span.prev2:hover,
span.next3:hover,
span.prev3:hover {
    background: var(--btnBg-color);
    color: #fff;
    opacity: 0.8;
}

.dot-container1,
.dot-container2,
.dot-container3 {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
}

.dot-container1 .dot1,
.dot-container2 .dot2,
.dot-container3 .dot3 {
    width: 13px;
    height: 13px;
    margin: 0 2px;
    border: 2px solid var(--btnBg-color);
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    background: #fff;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.7s ease-in-out;
}

.dot-container1 .dot1::before,
.dot-container2 .dot2::before,
.dot-container3 .dot3::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    z-index: -1;
    background-color: #fff;
    border-radius: 50%;

    transform: scale(1.5);
    transition: transform, transform-origin, 0.7s ease-in-out;
    transform-origin: left;
}

.dot-container1 .dot1:hover::before,
.dot-container1 .dot1:focus::before,
.dot-container2 .dot2:hover::before,
.dot-container2 .dot2:focus::before,
.dot-container3 .dot3:hover::before,
.dot-container3 .dot3:focus::before {
    transform: scale(0);
    transform-origin: left;
}

.dot-container1 .dot1:hover,
.dot-container1 .dot1:focus,
.dot-container2 .dot2:hover,
.dot-container2 .dot2:focus,
.dot-container3 .dot3:hover,
.dot-container3 .dot3:focus {
    background: var(--btnBg-color);
}


.dot-container1 .active::before,
.dot-container2 .active::before,
.dot-container3 .active::before {
    background: #000;

}

@keyframes next-1 {
    from {
        left: 0%;
    }

    to {
        left: -100%;
    }
}

@keyframes next-2 {
    from {
        left: 100%;
    }

    to {
        left: 0%;
    }
}

@keyframes prev-1 {
    from {
        left: 0%;
    }

    to {
        left: 100%;
    }
}

@keyframes prev-2 {
    from {
        left: -100%;
    }

    to {
        left: 0%;
    }
}

/* courses */

.courses {
    position: relative;
    background: var(--mainBg-color);
    color: #fff;
    padding-bottom: 4.5rem;
}

.courses .course-header {
    text-align: center;
    padding: 30px;
}

.courses .course-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 3.5rem;
    margin-bottom: 2rem;
    word-wrap: break-word;
}

.courses .course-grid .reverse {
    order: 1;
}

.course-about .animation-right {
    transform: translateX(-150%);
}

.course-about .animation-right.animate-right {
    transform: translateX(0);
}

.courses .course-img {
    max-width: 100%;
    display: flex;
    justify-content: center;
}

.courses .course-img img {
    cursor: pointer;
    object-fit: cover;
    background-size: cover;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5),
        0 0 5px rgba(255, 255, 255, 0.5);
    transition: transform 0.5s ease;
}

.courses .course-img img:hover {
    transform: scale(1.05);
}

.courses .course-content .text-lg {
    padding-bottom: 1rem;
    text-align: center;
    font-weight: bolder;
}

.courses .course-content .text-sm {
    padding-top: 5px;
}

.courses .course-content .btn-dark {
    top: 2.5rem;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* About It */

.about-it {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: rgb(25, 23, 17);
    background: -moz-linear-gradient(183deg, rgba(25, 23, 17, 1) 8%, rgba(8, 18, 55, 1) 49%);
    background: -webkit-linear-gradient(183deg, rgba(25, 23, 17, 1) 8%, rgba(8, 18, 55, 1) 49%);
    background: linear-gradient(183deg, rgba(25, 23, 17, 1) 8%, rgba(8, 18, 55, 1) 49%);
    padding: 3rem;
}

.about-it .text-xl {
    padding-bottom: 2rem !important;
    text-align: center;
}

.about-it .text-xl,
.about-it .text-md {
    padding: 10px;
    text-transform: uppercase;
}


/* Contact */

.showcase-contact {
    background: url('../images/tms-building.jpg') no-repeat center center /cover;
    height: 450px;
    width: 100%;
}

.showcase-contact .showcase-content {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    height: 450px;
    color: #fff;
}

.contact {
    background: rgb(8, 114, 143);
    background: -webkit-linear-gradient(119deg, rgba(8, 114, 143, 1) 6%, rgba(127, 18, 135, 1) 49%, rgba(120, 11, 73, 1) 92%);
    background: -moz-linear-gradient(119deg, rgba(8, 114, 143, 1) 6%, rgba(127, 18, 135, 1) 49%, rgba(120, 11, 73, 1) 92%);
    background: linear-gradient(119deg, rgba(8, 114, 143, 1) 6%, rgba(127, 18, 135, 1) 49%, rgba(120, 11, 73, 1) 92%);
    padding: 50px;
}

.contact-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-flex .contact-img {
    max-width: 100%;
    max-height: 700px;
}

.contact-flex .contact-img img {
    max-width: 500px;
    max-height: 600px;
    object-fit: contain;
    background-size: cover;
    border-radius: 10px;
}

.contact .contact-title {
    text-align: center;
    margin: 10px 30px;
    color: #fff;
}

.contact form .input-box input {
    width: 100%;
    padding: 16px;
    outline: none;
    border: none;
    background: none;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 10px;
    margin-bottom: 2.5rem;
    font-size: 17px;
    font-weight: 500;
    color: #fff;
    transform: 0.5s ease-in-out;
}

.contact form .input-box textarea {
    max-width: 100%;
    max-height: 200px;
    background: transparent;
    border-radius: 5px;
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.25);
    outline: none;
    padding: 25px;
    font-size: 17px;
}

/* Address */

.address {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
}

.address-container {
    background-color: var(--mainBg-color);
    color: #fff;
    width: 50%;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3),
        0 0 10px rgba(255, 255, 255, 0.3);
}

.address-header {
    color: var(--text-secondary);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 2px;
    line-height: 2;
    margin-top: 1.2rem;
}

.underline {
    margin: 0 auto;
    margin-top: -2rem;
    margin-bottom: 1rem;
    text-align: center;
    width: 40%;
    height: 3px;
    background: var(--text-secondary);
}

.address-content {
    text-align: center;
}

.address-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
}

.address-contact ul {
    margin-bottom: 3rem;
}

.address-contact ul li {
    padding: 1rem;

}

.address-contact ul li h3 {
    padding: 0.75rem;
    font-size: 1.5rem;
    color: #fa3edb;
    letter-spacing: 2px;
    line-height: 2.3;
}

.address-contact ul li a {
    color: #fff;
    letter-spacing: 1px;
    transition: color 0.5s;
}


.address-contact ul li a:hover {
    color: #ff5100;
}


.work-container {
    background-color: #000;
    color: var(--btnBg-color);
    width: 50%;
    height: 717px;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.75),
        0 0 5px rgba(255, 255, 255, 0.75);

}

.working-header {
    text-align: center;
    color: #fff;
}

.working-header .underline {
    margin: 0 auto;
    margin-top: -1rem;
    width: 55%;
}


.working-contact {
    padding: 2rem;
    margin-top: 2rem;
}

.working-contact ul {
    margin-bottom: 2rem;
    margin: 0 2.5rem;

}

.working-contact ul li {
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.working-contact ul li p {
    position: relative;
    font-size: 1.43rem;
    font-weight: 100;
    padding: 15px 10px;
}

.working-contact ul li span {
    position: relative;
    font-size: 1rem;
    font-weight: 200;
    padding: 15px 10px;
    text-align: left;
}


.input-box span {
    position: absolute;
    left: 0;
    padding: 16px;
    pointer-events: none;
    font-size: 1em;
    color: rgba(255, 255, 255, 0.25);
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: transform 0.5s ease;
}

.contact form .input-box input:valid~span,
.contact form .input-box input:focus~span,
.contact form .input-box textarea:valid~span,
.contact form .input-box textarea:focus~span {
    color: #00dfc4;
    transform: translate(10px, -9px);
    font-size: 0.75em;
    padding: 0 10px;
    background: #1d2b3a;

}

.contact form .input-box input:valid,
.contact form .input-box input:focus,
.contact form .input-box textarea:valid,
.contact form .input-box textarea:focus {
    border: 1px groove #00dfc4;
}

.contact form .input-box {
    position: relative;
    width: 100%;
}



.form-container {
    width: 80%;
    background-color: #1d2b3a;
    display: block;
    margin: 20px;
    margin: 0 auto;
    padding: 30px 50px;
    border-radius: 15px;
    box-shadow: -1px 3px 15px -5px rgba(0, 0, 0, 0.5);
}

/* Map  */

.map {
    width: 98%;
    height: 100%;
    margin: auto;
}

/* Footer */

.footer {
    background: rgb(23, 11, 24);
}

.footer .container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer .logo img {
    width: 80px;
    padding: 15px 0;
    transition: 0.5s;
}

.footer ul {
    padding: 20px;
    margin-top: 20px;
}

.footer ul li {
    padding: 15px 0;
}

.social-link {
    text-align: center;
}

.flex {
    display: flex;
    justify-content: space-between;
    text-align: center;
    gap: 30px;
}

.flex ul {
    margin: 0;
    padding: 0;
    display: flex;
}



.flex .hover-effect ul li a {
    font-size: 1.2rem;
    font-weight: 700;
    color: transparent;
    position: relative;
    display: inline-block;
    color: #00dfc4;
    margin: 0 20px;
    margin-top: 1rem;
    transition: transform 0.5s ease-out;

}

.flex .hover-effect ul li a::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background: #36f82f;
    color: red;
    z-index: 1;

    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;
    transform-origin: right;
}

.flex .hover-effect ul li a:hover:before,
.flex .hover-effect ul li a:focus:before {
    transform: scaleX(1);
    transform-origin: left;
}

.copyright {
    display: block;
    text-align: center;
    color: #fff;
    padding-top: -2rem;
    padding-bottom: 2rem;
    font-size: 1rem;
    letter-spacing: 2px;
}


/* courses */

.accordion-header {
    position: relative;
    cursor: pointer;
    padding: 1rem;
    margin: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: border 0.5s ease-in-out;
    transition: border-top 0.5s ease-in-out;
    border-bottom: 1px solid #0077b5;
}



.accordion-header i {
    position: absolute;
    right: 2rem;
    font-size: 1.3rem;
    transition: 0.5s ease-in-out;
    color: var(--text-secondary);
}

.accordion-header:hover {
    color: var(--btnBg-color);
}



.accordion-item.active i {
    transform: rotate(180deg);
}

.accordion-content {
    color: var(--text-secondary);
    padding: .8rem 0;
    margin: 0 1rem;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in;
}

.accordion-item.active .accordion-content {
    max-height: 700px;
    border-top: none;
    border-bottom: 1px solid #0077b5;

}

.accordion-content .block {
    display: block;
}

.accordion-content ul {
    margin: 0 3rem;
}

.accordion-content ul li {
    padding: .2rem;
    margin: 0.5rem;
    text-align: left;
}



/* Hamburger menu */


.hamburger {
    position: absolute;
    top: 30px;
    right: 50px;
    display: none;
    width: 24px;
    height: 24px;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    z-index: 100;
}

.hamburger .bar,
.hamburger::after,
.hamburger::before {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fff;
    margin: 5px 0;
    transition: 0.4s;
    transition: 0.5s ease;
}

.active.hamburger::before {
    transform: rotate(45deg) translate(6px, -1px);
}

.active.hamburger::after {
    transform: rotate(-45deg) translate(7px, 1px);
}


.active.hamburger .bar {
    display: none;
}


/* Mobile menu */

.mobile-menu {
    position: fixed;
    top: 0;
    right: 0;
    display: none;
    width: 300px;
    height: 100%;
    background: #252839;
    z-index: 90;
    box-shadow: -3px 3px 6px -2px rgba(0, 0, 0, 0.75);
    transform: translateX(100%);
    transition: 0.6s ease-in-out;
}



/* Media Queries */

@media(max-width: 1168px) {
    .accordion-header i {
        right: 0;
    }
}

@media(max-width: 1024px) {

    .slide-container3 {
        margin-top: 10rem;
    }

    .justify-center {
        grid-template-columns: repeat(2, 1fr);
        justify-content: flex-end;
    }

    .dot-container1,
    .dot-container2,
    .dot-container3 {
        bottom: -15px;
    }

    .animation-right.animate-right {
        transform: translateX(50%);
    }

    .courses .animation-right.animate-right,
    .form-container.animation-right.animate-right {
        transform: translateX(0);
    }

    .animation-center {
        transform: translateX(100%);
    }

    .animation-center.animate-center {
        transform: translateX(0);
    }

    span.next1,
    span.next2,
    span.next3 {
        right: 40px;
    }

    .contact-flex {
        flex-direction: column;
    }

    .address .animation-right.animate-right {
        transform: translateX(0);
    }

    .address {
        flex-direction: column;
    }

    .address .address-container,
    .address .work-container {
        width: 100%;
    }

    .contact-us-flex {
        flex-direction: column;
    }

    .copyright.copy {
        padding-top: 2rem;
    }
}

@media (max-width: 924px) {
    .flex {
        gap: 0;
        margin-right: 10px;
    }

    .courses .course-grid {
        grid-template-columns: 1fr;
    }

    .courses .course-img img {
        max-height: 500px;
        max-width: 700px;
        background-size: cover;
        object-fit: cover;
    }

    .courses .course-content {
        text-align: center;
        margin-top: -3rem;
    }

    .courses .course-content .btn-contain {
        text-align: center;
        display: flex;
    }

    .about_us {
        flex-direction: column;
    }

    .about_us-img {
        width: 100%;
    }

    .about_us-content {
        width: 100%;
    }

}


@media (max-width: 768px) {
    .showcase-content {
        width: 70%;
    }

    .text-xl {
        font-size: 2.2rem;
    }

    .text-md {
        font-size: 1rem;
    }

    .justify-center {
        grid-template-columns: 1fr;
    }

    .animation-right.animate-right {
        transform: translateX(0);
    }

    .slide-container1,
    .slide-container2,
    .slide-container3 {
        width: 100%;
        border: none;
        box-shadow: none;
    }

    .slide-container1 {
        margin-bottom: 15rem;
    }

    .slide-container2,
    .slide-container3 {
        margin-bottom: 5rem;
    }

    .training-text {
        margin-top: 3rem;
    }

    .slide-container1 .slides1,
    .slide-container2 .slides2,
    .slide-container3 .slides3 {
        height: 400px;
    }

    .slide-container1 .slides1 img,
    .slide-container2 .slides2 img,
    .slide-container3 .slides3 img {
        min-width: 100%;
        object-fit: cover;
        background-size: cover;
        min-height: auto;
    }

    span.next1,
    span.prev1,
    span.next2,
    span.prev2,
    span.next3,
    span.prev3 {
        top: 60%;
        transform: translateY(-50%);
    }

    .dot-container1,
    .dot-container2,
    .dot-container3 {
        bottom: -8.5rem;
    }

    .footer .container,
    .flex {
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }

    .social-link {
        max-width: 900px;
        margin: 0 auto;
    }

    .flex nav ul {
        margin-top: 0;
    }

    .main-header nav ul {
        display: none;
    }

    .hamburger,
    .mobile-menu {
        display: block;
    }
}

@media (max-width: 668px) {
    .form-container {
        max-width: 550px;
        max-height: auto;
    }
}

@media (max-width: 568px) {

    .dot-container1,
    .dot-container2,
    .dot-container3 {
        bottom: -5rem;
    }

    span.next1,
    span.prev1,
    span.next2,
    span.prev2,
    span.next3,
    span.prev3 {
        top: 50%;
        transform: translateY(-50%);
    }

    .training-text {
        margin-top: 1rem;
    }

    .showcase-content {
        width: 95%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        color: #fff;
        text-align: center;
    }

    .showcase-contact .showcase-content {
        flex-direction: row;
    }



    .text-xl {
        font-size: 2rem;
    }


    .text-sm {
        font-size: 0.9rem;
    }

    .work-container {
        height: auto;
        padding: 10px;
    }

    .working-contact ul li {
        flex-direction: column;
        padding: 10px;
        margin: 0.3rem;
    }

    .working-contact ul li p,
    .working-contact ul li span {
        padding: 5px;
        margin: 0;

    }

    .working-contact ul li p {
        font-size: 1.3rem;
    }

    .working-contact ul li span {
        font-size: 1rem;
    }

    .working-contact ul {
        margin-top: -4rem;
    }

    .social-link-hover ul {
        flex-direction: column;
    }

    .social-link-hover ul li {
        margin: 16px 0 !important;
    }

    .flex nav ul {
        display: block;
        margin: 2rem 0;
    }
}

@media (max-width: 480px) {

    .dot-container1,
    .dot-container2,
    .dot-container3 {
        bottom: -2rem;
    }

    span.next1,
    span.prev1,
    span.next2,
    span.prev2,
    span.next3,
    span.prev3 {
        top: 45%;
        transform: translateY(-50%);
    }

    .training-text {
        margin-top: -3rem;
    }

    .slide-container1 {
        margin-bottom: 11rem;
    }

    .slide-container2 {
        margin-bottom: 1rem;
    }

    .training {
        margin-bottom: 12rem;
    }

    .btn-container {
        margin-top: -4rem;
    }

    .form-container {
        max-width: 450px;
        max-height: auto;
    }

}

@media (max-width: 380px) {

    .dot-container1,
    .dot-container2,
    .dot-container3 {
        bottom: 1.5rem;
    }

    span.next1,
    span.prev1,
    span.next2,
    span.prev2,
    span.next3,
    span.prev3 {
        top: 35%;
        transform: translateY(-50%);
    }

    .training-text {
        margin-top: -6.5rem;
    }

    .slide-container1 {
        margin-bottom: 7rem;
    }

    .slide-container2 {
        margin-bottom: -4rem;
    }

    .training {
        margin-bottom: 8rem;
    }

    .btn-container {
        margin-top: -8.5rem;
        margin-bottom: 5rem;
    }

    .form-container {
        max-width: 350px;
        max-height: auto;
    }
}

@media (max-width: 286px) {

    .dot-container1,
    .dot-container2,
    .dot-container3 {
        bottom: 5rem;
    }

    span.next1,
    span.prev1,
    span.next2,
    span.prev2,
    span.next3,
    span.prev3 {
        top: 30%;
        transform: translateY(-50%);
    }

    .training-text {
        margin-top: -10rem;
    }

    .slide-container1 {
        margin-bottom: 4rem;
    }

    .slide-container2 {
        margin-bottom: -6rem;
    }

    .training {
        margin-bottom: 8rem;
    }

    .btn-container {
        margin-top: -8.5rem;
        margin-bottom: 5rem;
    }

    .form-container {
        max-width: 300px;
        max-height: auto;
    }
}